#TopBar{
  height:100px;
  padding:0px;
  background-color:#F5E5DC;
}

#addnode{
  height:50px;
  position:absolute;
  left:75%;
  top:25px;
  padding-top:10px;
  padding-bottom:10px;
  padding-top:5px;
  padding-left:30px;
  padding-right:30px;
  text-align: center;
  vertical-align:middle;
  font-size: 30px;
  font-family: "Roboto-Mono-Light";
}
