button{
    border-radius: 10px;
    border:2px solid;
    color:black;
    padding:10px;
    position:relative;
    /*transform: translate(-50%,-50%);*/
    top:50%;
    left:30%;
    background-color:azure;
    font-family:Roboto;
}